header {
	display: flex;
	justify-content: space-between;
}

.message {
	padding: 8px;
	background-color: pink;
}

.message:empty {
	display: none;
}

.secret {
	font-family: 'Comic Sans', cursive, monospace;
	font-size: 130%;
}